# Copy this file to .env and fill make changes according to your environment.
# Usually you only need to change the OpenAI API key as the defaults are fine
# for everything else. But you might need change the ports if you have other
# services running that conflict.

# =============================================================================
# OpenAI API key. This is required to do pretty much anything.
# =============================================================================

OPENAI_API_KEY=<your OpenAI API key>

# ============================================================================
# Ports for the API and web server. Uncomment and change if you want to use
# different ports. The API port is for DEV and Docker. The web port is for
# Docker only as vite usually runs the dev server on 5173. Handy if you have
# other services running on the default ports and need to avoid conflicts.
# =============================================================================

#API_PORT=3000
#WEB_PORT=8080

# =============================================================================
# Ports for Redis and Agent Memory Server. Uncomment and change if you need to
# use different ports when running with Docker. Handy if you already have
# Redis or AMS running on your machine.
# =============================================================================

# REDIS_PORT=6379
# AMS_PORT=8000

# =============================================================================
# Service URLs. Uncomment and change if you want to use different URLs and you
# are not using Docker. Handy if you are running Redis or AMS on a different
# machine.
# =============================================================================

#REDIS_URL=redis://localhost:6379
#AMS_URL=http://localhost:8000
